				<div id="footer">
					<div class="footer-bottom">
						<nav class="footer-nav">
							<ul>
								<li class="active"><a href="#">Home</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Projects</a></li>
								<li><a href="#">Solutions</a></li>
								<li><a href="#">Jobs</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Contacts</a></li>
							</ul>
						</nav>
						<p class="copy">&copy; Copyright 2012 Company Name <span>|</span> <strong>Design by <a href="" target="_blank"></a></strong></p>
						<div class="cl">&nbsp;</div>
					</div>